extends layout
block head
	title #{title}
	link(rel="stylesheet", href="css/car.css")
block content
	.car-nav-title
		h2 全部车型
		.car-nav-row
			span 类型
			.nav-list
				a.active 全部
				a SUV
		.car-nav-row
			span 品牌
			.nav-list
				a.active 全部
				each brand,index in brands
					- var attributes = {'data-id': brand.id}
					a(href="")&attributes(attributes) #{brand.name}

		.car-nav-row
			span 变速箱
			.nav-list
				a.active 全部
				a 自动
				a 手动
		.car-content
			each car in car_list
				.car-list
					h3.name #{car.name}
					a(href="search?_id=#{car._id}")
						.img
							img(src="images/car/benci-c.jpg", alt="")
					.price
						指导价：
						a #{car.price}万
block footer
	script.
		require(['js/car/index.js'],function(){})
