extends ../common/layout
block head
	title #{title}
	link(rel="stylesheet", href="css/index/index.css")
	script(src="http://webapi.amap.com/maps?v=1.3&key=441023746601d52c3fca95f36f55f9e1")
block content
	.wb-main
		.send-wb
			.wb-edit
				textarea#wb-con
			.widget
				span.add-img 添加图片&nbsp;&nbsp;
				label.location(for="location")
					input#location(type="checkbox")
					位置
				span.adress
				input(type="hidden" id="adress")
				button.fr.send-btn 发布
			form(action="/file/upload" method="post" enctype="multipart/form-data")
				input(type="file" name="file")
				input(type="submit" value="添加")
		.wb-list
			each item in wb_list
				.wb-item
					.user #{item.author_name}
						if(item.author === locals.user_id)
							- var attributes = { 'wb_id': item.id };
							span.fr.delete&attributes(attributes) 删除
					.date #{item.date}
					p.content #{item.content}
					if(item.adress)
						.location
							i
								img(src="/images/common/Location_24px.png", alt="adress")
							span #{item.adress}

block footer
	script.
		require(['js/index/index.js'],function(){})
		
